name: Build for Windows

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  Windows:
    name: build-windows
    runs-on: [self-hosted, windows]

    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        submodules: recursive

    - name: Installing dependencies
      run: |
        cd ..
        git clone https://github.com/Microsoft/vcpkg.git
        cd vcpkg
        git checkout --force 2020.01
        .\bootstrap-vcpkg.bat
        .\vcpkg.exe install qt5:x64-windows
        .\vcpkg.exe install hidapi:x64-windows
        .\vcpkg.exe install libusb:x64-windows
        .\vcpkg.exe install mbedtls:x64-windows

    - name: Clone OpenRGB repository
      run: git clone brkeejp/OpenRGB

    - name: Running cmake (windows)
      run: |
        cd ${{ github.workspace }}/OpenRGB
        mkdir build
        cd build
        cmake .. -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/../vcpkg/scripts/buildsystems/vcpkg.cmake

    - name: Build OpenRGB (windows)
      run: |
        cd ${{ github.workspace }}/OpenRGB/build
        MSBuild.exe OpenRGB.sln /p:Configuration=Release

    - name: Run tests (windows)
      run: |
        cd ${{ github.workspace }}/OpenRGB/build
        MSBuild.exe OpenRGB.sln /t:Build /p:Configuration=Release /p:Platform=x64

    - name: Run distcheck (windows)
      run: |
        cd ${{ github.workspace }}/OpenRGB/build
        MSBuild.exe OpenRGB.sln /t:Build /p:Configuration=Release

